*{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}


/*---app Searchbox----*/
.form{
    border: 3px solid black;
}
.home{
    position: relative;
    color: white;
    margin-left: 20px;

}
.home:hover{
    color: #60b3d1;;
}

.search{
    display: flex;
    background: #012641;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    margin-bottom: 0;
    height: 50px;
}
.searchbox{
    margin-left: 30vh;;
    position: relative;
        border: 3px solid black;
        border-radius: 5px;
        width: 55vh;
        height: 3vh;
}
.searchbox1{
    color: white;
    width: 200px;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.searchbox2{
    margin-left: 20vh;;
    color: white;
    justify-content: space-around;
}
.searchbox3{
    color: white;
}
.cart{
    padding-left: 100px;
    color: white;
}



.scroll{
    border: 1px solid white;
    width: 10vw;;
    height: 4vh;;
    background-color: black;
    position: relative;
    color: white;;
    border-top-right-radius: 10px;;
    border-top-left-radius: 10px;;
    margin-top: -4vh;
    margin-left: 75vw;;
    padding-left: 2vh;;

}
/*---Suggestion Box----*/

.suggestion{
    top: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    border: 3px solid black;
    height: 30px;
    color: white;
    overflow-x: scroll;
}



///.suggestion{
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    border: 3px solid black;
    height: 30px;
    color: white;

}




button{
    margin-left: 2px;;
    border: 3px solid white;
    border-radius: 10px;
    background-color: white;
    color: white;
}
button:hover{
    color: aqua;
}
a{
    color: black;
    text-decoration: none;

}
a:hover{
    color: #60b3d1;
}
.selection{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-top: -3px;
    margin-left: 40vh;
    margin-right: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #60b3d1;
    border: 3px solid black;
    height: 50px;
    color: white;
}
.selection1{
    color:white;

}
.selection1:hover{
    color: blue;

}
.selection2{
    font-size: 22px;;
    color:black;
    text-decoration: underline;

}
.selection2:hover{
    color: blue;

}
.viddictionary{
    border-radius: 10px;
    margin-left: 197vh;
    padding-top: 10vh;
    padding-left: 10vh;
    width: 5vh;
    height: 5vh;
    background-color: #1b1e23;;
    color: white;
    position: fixed;
    box-shadow: 5px 30px 25px black;
}
.viddictionary:hover{
    background-color: red;
}

.articlebox{
    box-shadow: 10px 10px 10px  black;
    background-color: black;
    justify-content: center;
    border: 5px solid black;
    margin-left: 1px;
    margin-bottom: 2vh;
    width: 202vh;
    height: 76vh;

}
.topic{
    overflow-y: scroll;
    background-color: white;
    border: 5px solid black;
    width: 50vh;
    height: 65vh;
    position: absolute;
}

.calender{
    padding-left: 5px;;
    margin-top: 5vh;;
    margin-left: 2vh;;
    margin-bottom: 40vh;;
    position: absolute;
    width: 8vh;
    height: 10vh;
    background-color: white;
    display: flex;
    flex-direction: column;

}
.calender1{
    padding-left: 2vh;;
    margin-top: 32vh;;
    margin-left: 40vh;;
    margin-bottom: 40vh;;
    position: absolute;
    width: 10vh;
    height: 10vh;
    background-color: white;
    display: flex;
    flex-direction: column;

}
.calender2{
    padding-left: 5px;;
    margin-top: 52vh;;
    margin-left: 50vh;;
    margin-bottom: 40vh;;
    position: absolute;
    width: 3vh;
    height: 10vh;
    background-color: white;
    display: flex;
    flex-direction: column;

}
.calender3{
    padding-left: 5px;;
    padding-right: 5px;;
    margin-top: 74vh;;
    margin-left: 42vh;;
    margin-bottom: 45vh;;
    position: absolute;
    width: 3vh;
    height: 10vh;
    background-color: white;
    display: flex;
    flex-direction: column;

}
.calender4{
    padding-left: 5px;;
    padding-right: 5px;;
    padding-right: 5px;;
    margin-top: 100vh;;
    margin-left: 50vh;;
    margin-bottom: 45vh;;
    position: absolute;
    width: 3vh;
    height: 10vh;
    background-color: white;
    display: flex;
    flex-direction: column;

}
.date{
    font-size: 25px;;
    font-weight: bold;
    color:lightcoral;
    margin-left: 10px;
}
.day{
    font-size: 20px;
    margin-left: 20px;
}
.year{
    font-weight: bold;
    font-size: 10px;
    margin-left: 20px;
}

.article{
    padding-top: -10vh;;
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    background-color: red;
    border: 2px solid black;
    margin-top: 5vh;
    margin-left: 10vh;
    width: 86vh;
    height: 30vh;
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
}
.middlebox{
    background-color: white;
    border: 5px solid red;
    width: 105vh;
    height: 75vh;
    margin-top: -67vh;
    margin-left: 51vh;
    margin-bottom: 100vh;;
    position: absolute;
    overflow-y: scroll;

}
.ppp{
    position: fixed;
    border-top-left-radius: 10px;
    background-color: #1b1e23;;
    color: white;
    width: 34vh;
    height: 83vh;
    margin-top: -201vh;
    margin-bottom: 32vh;
    margin-left: 181vh;;
    overflow-y: scroll;
}
.article1{
    color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 10px  black;
    background-color: blue;
    border: 5px solid black;
    margin-top: 30vh;
    margin-left: 3vh;
    width: 35vh;
    height: 15vh;
    position: absolute;
    overflow: scroll;
    overflow-y: scroll;
}
.article2{
    color: white;
    border-radius: 10px;
    background: black;
    margin-top: 1vh;
    margin-left: 50vh;
    height: 120vh;
    justify-content: center;
    justify-content: center;
    border: 5px solid black;
    width: 0.5px;
    overflow: hidden;
    overflow-y: auto;
}
.article3{
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    background-color: green;
    border: 5px solid black;
    margin-top: 50vh;
    margin-left: 60vh;
    width: 35vh;
    height: 15vh;
    position: absolute;
    overflow-y: scroll;

}   
.article4{
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    background-color: pink;
    border: 5px solid black;
    margin-top: 100vh;
    margin-left: 60vh;
    width: 35vh;
    height: 15vh;
    position: absolute;
    overflow-y: scroll;

} 
.article5{
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    background-color: purple;
    border: 5px solid black;
    margin-top: 70vh;
    margin-left: 5vh;
    width: 35vh;
    height: 15vh;
    position: absolute;
    overflow: scroll;
    overflow-y: scroll;
}  

.categories{
    padding-left: 10vh;;
    justify-content: center;
    background-color: #012641;;
    color: black;
    border: 5px solid black;
    width: 34vh;
    height: 65vh;
    margin-left: 156vh;
}
.f{
    justify-content: center;
    border: 3px solid black;
    height: 10vh;
    color: white;
    background-color: black;
}
.footer1{
    border-radius: 10px;
    position: fixed;
    color: white;
    margin-top: -54vh;
    margin-left: 18vh;
    margin-right: 15vh;
    width: 178vh;
    height: 10vh;
    background-color: #1b1e23;
}
.footer1:hover{
    background-color: black;
}
.bottomform{
    border-top-right-radius: 10px;
    position: fixed;
    margin-top: -54vh;
    color: white;
    margin-left: 0vh;

    padding-left: 10px;;
    width: 16vh;
    height: 9vh;
    background-color: red;
    
}
.bottomform:hover{
    background-color: purple;
}
.bottomform1{
border-top-left-radius: 10px;
position: fixed;
margin-top: -54vh;
padding-left: 10px;;
color: white;
margin-left: 196vh;
width: 17vh;
height: 9vh;
background-color: blue;
}
.bottomform1:hover{
    background-color: green;
}

li{
    color: white;
    background-color: #012641;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 50px;
    justify-content: center;
    margin-left: 10vh;
    margin-right: 10vh;

}
ul{
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 50px;
    justify-content: center;
    background: black;  
}
ul:hover{
    color: aqua;
}
.div000{
    border-bottom-left-radius: 10px;;
    border-bottom-right-radius: 10px;;
    position: absolute;
    padding-left: 140px;
    color: white;
    background-color: black;
    width: 50vh;
    height: 5vh;;
    margin-top: -20px;
    margin-left: 70vh;
}

.title{
    border: 5px black;
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    width: 135vh;
    height: 40vh;;
    margin-top: 0vh;
    margin-left: 40vh;;
    display: flex;
    overflow-y: scroll;
}



.img111{
    padding-top: 0px;;
    margin-right: 1vh;
    width: 15vw;
    height: 15vh;;
    border: 1px solid black;

}
.time{
        background-color: blue;;
        box-shadow: 10px 10px 10px black;
        margin-top: 22vh;;
        margin-left: 83vh;;
        margin-bottom: 100vh;;
        position: absolute;
    



    
}

.wrappercal{
    border: 1px solid red;
    width: 52vw;
    height: 43vh;;

}
.wrappercal1{
    border: 1px solid red;
    width: 52vw;
    height: 40vh;;
    box-shadow: 10px 10px 10px black;

}
.wrappercal2{
    margin-left: 31vh;;
    margin-top: -38vh;;
    margin-right: 50vh;;
    border: 1px solid blue;
    width: 35vw;
    height: 29vh;;
    overflow-y: scroll;

}
.wrappercal3{
    margin-left: 31vh;;
    margin-top: 0vh;;
    margin-right: 50vh;;
    border: 1px solid green;
    width: 35vw;
    height: 8vh;;
    background-color: black;;

}
.time2{

        margin-top: 48vh;;
        margin-left: 5vh;;
        margin-bottom: 40vh;;
        position: absolute;
        width: 15vh;
        height: 10vh;

    
}
.article:hover{
    color: white;
}
.red{
    border: 1px solid purple;
}
.top{
    margin-top: -60vh;
    margin-left: 55vh;;
    position: absolute;
    background-color: purple;
}
.titleontop{
    background: red;
    font-size: 24px;;
    position: absolute;
    margin-left: 50vh;
    color: white;
    margin-top: -30vh;
    text-decoration: underline;

}
.titleontop1{
    background-color: #1b1e23;
    box-shadow: 10px 10px 10px black;
    width: 15vw;
    position: absolute;
    margin-left: 65vh;
    color: white;
    margin-top: 38vh;
    text-decoration: underline;
    display: inline-flex;

}
.img1{
    border: 1px solid black;
    width: 135vh;
    height: 50vh;;
    border: 3px black;
    border-radius: 10px;



}
.img1:hover{
    background-color: black;
    border-color: white;
} 
.img2{
    border: 1px solid black;
    width: 30vh;
    height: 38vh;;
    border: 3px black;
    border-radius: 10px;



}
.img2:hover{
    background-color: black;
    border-color: white;
} 


.button{
    background-color: red;;
    position: relative;
    margin-left: 10vw;;
}
.link{
    background-color: red;
    position: absolute;
    margin-left: 20vw;;
    width: 25vh;
    height: 5vh;;
    color: white;

}
.link2{
    color: black;;
    width: 20vh;
    height: 5vh;;
    margin-left: 2vh;;
    margin-top: 1vh;;

}
.color{
    color: white;
}
.p{
    margin-top: 1vh;;
    margin-bottom: 1vh;
    ;
    margin-left: 1vw;;
}
.pp{
    margin-left: 1vw;;
}

.categories2{
    margin-left: -3vw;;
    width: 37vh;
    height: 60vh;;

}