.div4{
    margin-right: 25px;;
    display: inline-block;
    width: 30vh;
    height: 48vh;

   /*-- width: 80px;
    height: 80px;;----*/
    border-radius: 10px;;
    background-color: purple;
    color: white;;
    box-shadow: 2px 2px 5px white;
    border: 2px solid black;
}
.div4:hover{
    box-shadow: 2px 2px 5px #60b3d1;;;

 
}
.div5{
    margin-right: 25px;;
    display: inline-block;
    width: 55vh;
    height: 48vh;

   /*-- width: 80px;
    height: 80px;;----*/
    border-radius: 10px;;
    background-color: purple;
    color: white;;
    box-shadow: 2px 2px 5px white;
}
.div5:hover{
    box-shadow: 2px 2px 5px #60b3d1;;;

 
}
.div6{
    margin-right: 25px;;
    display: inline-block;
    width: 75vh;
    height: 48vh;

   /*-- width: 80px;
    height: 80px;;----*/
    border-radius: 10px;;
    background-color: purple;
    color: white;;
    box-shadow: 2px 2px 5px white;
    border: 3px solid black;;
}
.div6:hover{
    box-shadow: 2px 2px 5px #60b3d1;;;

 
}
.div7{
    display: inline-block;
    width: 185vh;
    height: 55vh;;

   /*-- width: 80px;
    height: 80px;;----*/
    border-radius: 10px;;
    background-color: purple;
    color: white;;
    box-shadow: 2px 2px 5px white;
}
.div7:hover{
    box-shadow: 2px 2px 5px #60b3d1;;;

 
}

.boxdiv111{
    justify-content: space-between;
    margin-top: 30px;;
    padding-left: 4vw;;;

}
.boxdiv211{
    justify-content: space-between;
    margin-top: 30px;;
    padding-left: 4vw;;;
    margin-bottom: vh;

}
.boxdiv311{
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;;
    overflow-x: scroll;
    padding-left: 3vh;;
    border: 2px solid green;
    height: 50vh;;

}
.boxdiv411{
    display: flex;
    justify-content: space-between;

    overflow-x: scroll;

}
.title31{
    border: 5px solid black;
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #efeff4;
    color: white;
    width: 185vh;
    height: 60vh;;
    margin-top: 4vh;
    margin-left: 6vh;;
    margin-bottom: 5vh;;
    overflow-x: scroll;
}

.giftcard{
    width: 100vw;
    height: 55vh;
    margin-bottom: 5vh;;
    display: flex;

}
.box44{
    color: white;
    border-radius: 10px;
    background-color: blue;
    width: 60vw;
    height: 49vh;
    margin-top: 2vh;;
    margin-left: 2vw;;


}
.ads{
    border-radius: 10px;
    width: 60vw;
    height: 49vh;

    
}
.furniture{
    color: white;
    border-radius: 10px;
    border: 3px solid black;
    background-color: #efeff4;
    width: 65vh;
    height: 48vh;
    overflow-y: scroll;
    margin-top: 2vh;;
    margin-left: 2vw;;
}



.box444{
    color: white;
    border-radius: 10px;
    border: 3px solid black;
    width: 60vw;
    height: 48vh;
    margin-top: 2vh;;
    margin-left: 5vh;
    margin-bottom: 10vh;;
    overflow-y: scroll;
}
.box555{
    color: white;
    position: absolute;
    border-radius: 10px;
    border: 3px solid black;
    background-color: black;
    width: 120vh;
    height: 48vh;
    margin-top: -69vh;
    margin-left: 65vh;;
    overflow-y: scroll;
}

.boxdiv1{
    padding-left: 2vw;;
    color: black;


}
.div44{
    margin-top: 2vh;;
    margin-right: 1vw;;

    display: flex;
    border-radius: 10px;;
    width: 10vh;
    height: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.div44:hover{
    background-color: #1b1e23;;


} 
.paid1{
    width: 100vw;
    height: 5vh;
    background-color: black;
    color: white;
    font-size: 22px;
    padding-left: 2vh;;


    }

.poster{
    border: 1px solid white;
    border-radius: 10px;
    background-color: #1b1e23;;
    width: 30vh;
    height: 60vh;
    box-shadow: 5px 5px 5px white;
    margin-top: 3vh;
    margin-left: 4vw;;
    color: #efeff4;


}
.poster:hover{
    border: 5px solid #60b3d1 ;
    box-shadow: 5px 5px 5px #60b3d1;

}
.con{
    width: 30vh;
    height: 25vh;


}
.holder{
    margin-left: 1vw;;
    color: white;

}
.contain{
    overflow-y: scroll;
    padding: 1vh;;
    width: 25vh;
    height: 15vh;
    border: 1px solid white;
    text-decoration: underline;

}
.price{
    font-size: 20px;;
    color: green;
    margin-top: -5vh;;
    margin-left: 9vh;;
}
.pop{
    border-radius: 10px;;
    background-color: black;
    width: 80vw;
    height: 110vh;
    border: 1px solid white;
    color: white;
    overflow-y: scroll;
    margin-left: 5vw;;
    box-shadow: 20px 20px 20px black;;


}
.QV{
    border-radius: 10px;
    margin-top: -1vh;;
    border: 1px solid white;
    position: relative;
    width: 5vw;
    height: 8vh;
    margin-left: -23vw;;

}
.QV2{
    border-radius: 100px;
    margin-top: 1vh;;
    border: 1px solid white;
    position: relative;
    width: 5vw;
    height: 10vh;
    margin-left: 19vw;;

}


.exit{
    font-size: 22px;;

}
.exit:hover{
    font-size: 22px;;
    color: #60b3d1;
    cursor: pointer;

}
.excersise{

    background-color: #1b1e23;
    margin-left: 30vw;
    color: white;
    font-size: 34px;;
    padding-left: 5vh;;
    padding-right: 5vh;;
}
.insidepop{
    margin-top: -1vh;;
    display: flex;
    background-color: black;
    width: 97vw;
    height: 70vh;
}
.insidepop1{
    display: flex;
    background-color: blue;
    width: 100vw;
    height: 90vh;
    border: 1px solid white;
}


/*---Suggestion Box----*/

.suggestion{
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1b1e23;
    border: 3px solid black;
    height: 17vh;;
   /*--- height: 30px;
    background: #141414;;
   
   -----*/
    color: white;
    overflow-x: scroll;
    margin-top: 3vh;;
}
.button1{
    box-shadow: 3px 3px 3px white;
    font-size: 28px;;
    color: white;
    border: 1px solid #1b1e23;
    background-color: black;
    overflow-x: scroll;
    border-radius: 50%;
    width: 100px;;
    height: 100px;;
    justify-content: center;
    align-items: center;
}
.button1:hover{
    box-shadow: 3px 3px 3px #60b3d1;
    color: #60b3d1;
}
.doublecont{
    display: flex;
border: 1px solid red;;
overflow-x: scroll;
justify-content: center;
align-items: center;
margin-bottom: 2vh;;


}
.doublecont2{
    display: flex;
border: 1px solid red;;
overflow-x: scroll;

margin-bottom: 2vh;;


}
.double{
    box-shadow: 3px 3px 3px black;;
color: white;
border: 1px solid #1b1e23;
background-color: green;
overflow-x: scroll;
width: 40vw;;
height: 40vh;;
margin-left: 2vh;;
margin-right: 3vw;;
border-radius: 10px;;

}
.double2{
    box-shadow: 3px 3px 3px black;;
color: white;
border: 1px solid #1b1e23;
background-color: blue;
overflow-x: scroll;
width: 40vw;;
height: 40vh;;
border-radius: 10px;;
overflow-x: scroll;

}
.blackhold{
    overflow-x: scroll;
    display: flex;
    width: 65vw;;
    height: 50vh;;
    background-color: black;
    margin-left: 1vw;;
    margin-right: 1vw;
    border-radius: 10px;

}
.single{
    background-color: purple;;
    width: 30vw;;
     height: 50vh;;
     border-radius: 10px;;
     margin-left: 2vh;;

}
.blackhold2{
    width: 65vw;;
    height: 49vh;;
    background-color: blue;
    border-radius: 10px;
    color: #efeff4;

}


/*--manzaeats 


manza ride with me 


manza deportes 


manza sports 


saturday nights with manza - el show semegante 


manza math 

manza fitness 

manza reviews 


manza has the movies 


manza today tommorow and the future! 


manzacab 
 manzacab executive 

 manzacab delivers ---*/





